/* Theme Name: Cubana - Multipurpose
   Author:Harry
   Author e-mail: harrynworld@gmail.com
   Version: 1.0.0
   Created:February 2015
   File Description:Main CSS file of the template
*/

/* 1 Reset
----------------------------------------------------------------------------- */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #2F3C5B;
  font-size: 14px;
  background:#fff
}
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: 0 !important
}
iframe {
    border: none;
    width:100%;
}
a {
    color: inherit;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
a:hover,a:focus,a:active {
    text-decoration: none;
    color: #1dc6df;
}
p {
    color: #737373;
}
img {
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Lato', sans-serif;
}
textarea {
    max-width: 100%;
    resize: none;
}
hr {
	margin: 10px 0px;
}
address {
	margin-bottom: 0px;
}
.btn {
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0;
}
.btn:focus,.btn:active {
    outline: none;
    color: #ffffff;
}
.btn-custom{
	border-radius: 3px;
	padding: 0.8em 1.8em;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
}
.btn-custom:hover,.btn-custom:focus{
    color: #fff;
}
.btn-custom-outline {
	border-radius: 3px;
	padding: 0.8em 1.8em;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
	background-color: transparent;
	border-color: #ffffff;
}
.btn-custom-outline:hover,.btn-custom-outline:focus{
	color: #ffffff;
	background-color: rgba(255,255,255,.5);
}
.btn-bar a{
	margin-right: 10px;
}
.form-control {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	height: 38px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
section {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}


/* 2 Helper classes
----------------------------------------------------------------------------- */
.margin-t-md {
	margin-top: 30px;
}
.margin-b-md {
	margin-bottom: 30px;
}
.title {
	font-weight: 700;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 20px;	
	font-size: 28px;
}
.slog {
	font-size: 16px;
	max-width: 420px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.bg-dark {
	background: #f4f4f4;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
/* 3 Parallax
----------------------------------------------------------------------------- */
.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
/* 4 Preloader
----------------------------------------------------------------------------- */
.animationload {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:999999;
}
.loader {
    width:380px;
    height:380px;
    font-size: 24px;
    text-align: center;
    position:absolute;
    left:50%; 
    top:50%; 
    background-image:url(../img/preloader.gif); 
    background-repeat:no-repeat;
    background-position:center;
    margin:-190px 0 0 -190px; 
}

/* 5 Navigation
----------------------------------------------------------------------------- */
.navbar-custom {
	background:url(../img/site/bg-header.png) repeat-x top left #fff;
	margin-bottom: 0px;
	z-index: 1000;
	border: none;
	color: #333;
	position: fixed;
	transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-moz-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-webkit-transition: background-color 1s ease-in-out, border 1s ease-in-out;
	-o-transition: background-color 1s ease-in-out, border 1s ease-in-out;
}
.navbar-custom .navbar-brand {
	font-size: 22px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 800;
	letter-spacing: 0.15em;
	margin: 15px 0 0;
	font-family: 'Roboto Slab', serif;
}
.navbar-custom .navbar-brand:hover {
	color: #ffffff;
}
.navbar-custom .nav {
	padding: 0px;
}
.navbar-custom .navbar-nav>li {
	margin-left:20px
}
.navbar-custom .navbar-nav>li>a {
	color: #2F3953 !important;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
	padding: 10px 0;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus {
	background-color: transparent;
}
.small .navbar-brand,.small .navbar-brand:hover{
	color: #f1f1f1;
}
nav.small {
   -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
   -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
   box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

/* 6 Home
----------------------------------------------------------------------------- */
#home {
	position: relative;
	z-index: 1;
	font-size: 13px;
	color: #fff;
	height: 590px;
	background: url(../img/banner/1.jpg) no-repeat center;
	background-size: cover;
	padding-top: 146px;
}
#home .video{
	position: relative;
	z-index: 1;
	background: url(../img/site/bg-video.png) no-repeat center;
	background-size:cover;
	width: 730px;
	height: 420px;
	display:block;
	margin:60px auto 0
}
#home .video iframe{
	width: 545px;
    height: 335px;
    display: block;
    border: none;
    margin: 22px 0 0 93px;
    float: left;
}
#home h1{
	color:#B49964;
	font-size:30px;
	font-weight:300;
	cursor:default;
	text-align:right;
	position:absolute;
	z-index:2;
	top:100px;
	left:-180px;
	width:235px
}
#home h2{
	color:#B49964;
	font-size:30px;
	font-weight:300;
	cursor:default;
	position:absolute;
	z-index:2;
	top:100px;
	right:-180px;
	width:235px
}
#home p{
	color:#FEFEFE;
	font-size:27px;
	font-weight:300;
	cursor:default;
	text-align:center;
	margin-top:70px
}
/* ======= Homepage Headline Background & Slideshow ======= */
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
  z-index: -999;
  background: #595959;
}
.bg-slider-wrapper .flexslider {
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.bg-slider-wrapper .flexslider .slide {
  display: block;
  height: 406px;
}
.bg-slider-wrapper .flexslider .slide.slide-1 {
  background: url('../img/banner/1.jpg') no-repeat left top;
}
.bg-slider-wrapper .flexslider .slide.slide-2 {
  background: url('../img/banner/4.jpg') no-repeat left top;
}
.bg-slider-wrapper .flexslider .slide.slide-3 {
  background: url('../img/banner/5.jpg') no-repeat left top;
}
.bg-slider-wrapper .flexslider .flex-control-nav {
  z-index: 20;
  bottom: 45px;
  position: relative;
}
.bg-slider-wrapper .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.3);
}
.bg-slider-wrapper .flexslider .flex-control-nav li a.flex-active {
  background: rgba(255, 255, 255, 0.8);
}
.intro-title {
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 40px;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.02em;
	margin: 0px;
	cursor: default;
}
.intro-title.principal {
	height: 155px;
    margin-bottom: 10px;
}
.intro-text {
	font-size: 24px;
	color: #fefefe;
	font-family: 'Roboto Slab',sans-serif;
	margin: 0;
	cursor: default;
}
.intro-text.normal {
	font-size: 14px;
	color: #fefefe;
	font-family: 'Noto Sans',sans-serif;
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}

.navbar-brand {float:none;display: block;height: auto;margin-top: 0 !important;}

/* Orçamento
----------------------------------------------------------------------------- */
#orcamento {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	background: #F0F0F0;
	padding: 30px 0;
	z-index: 1;
}
#orcamento a{
	width: 420px;
	height: auto;
	line-height:75px;
	text-decoration:none;
	color:#B19251;
	border:1px solid #B19251;
	border-radius:10px;
	display:block;
	margin:auto;
	text-transform:uppercase;
	font-weight:400;
	text-align:center;
	font-size:27px
}
#orcamento a:hover{
	background:#B19251;
	color: #F0F0F0;
}

#formorcamento h2{
	display:block;
	cursor:default;
	color:#2F3953;
	font-size:30px;
	font-weight:400;
	margin:0 0 90px;
	background: url(../img/site/bg-comofunciona.png) no-repeat center;
}
#formorcamento label {
	font-size:14px;
	display:block;
}
#formorcamento label.radio {
	display:inline-block;
}
#formorcamento input[type=text]{
	width:100%;
	margin:2px 0 15px;
	height:40px;
	line-height:40px;
	text-indent:10px;
	border:1px solid #bbbdbf;
	border-radius:5px	
}
#formorcamento input[type=submit]{
	width:70%;
	margin:40px 0 0;
	height:50px;
	border:none;
	border-radius:5px;
	background:#B19251;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:400;
	font-size:18px;
	float:right
}
#formorcamento textarea{
	width:100%;
	margin:2px 0 15px;
	height:80px;
	padding:10px;
	border:1px solid #bbbdbf;
	border-radius:5px	
}
#formorcamento input[type=radio]{
	margin:5px 0 0 0;
	position:inherit;
}

/* Como Funciona
----------------------------------------------------------------------------- */
#comofunciona h2 {
	display:block;
	cursor:default;
	color:#2F3953;
	font-size:30px;
	font-weight:400;
	margin:0 0 30px;
	background: url(../img/site/bg-comofunciona.png) no-repeat center;
}
#comofunciona h3 {
	display:block;
	cursor:default;
	color:#2F3953;
	font-size:20px;
	font-weight:300;
	margin:0 0 20px
}
#comofunciona p {
	display:block;
	cursor:default;
	color:#2F3953;
	font-size:14px;
	font-weight:300;
	margin:10px 20px 60px;
	-webkit-transition:0.4s ease-out;
	-moz-transition:0.4s ease-out;
	-o-transition:0.4s ease-out;
	transition:0.4s ease-out
}
#comofunciona img {
	display:block;
	margin:20px auto 0;
	cursor:pointer;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}



/* 8 Fun-facts
----------------------------------------------------------------------------- */
.fun-facts {
	overflow: hidden;
	color: #888;
}
.facts{
	margin: 20px 0px;
}
.facts i{
	font-size: 36px;
}
.facts h1 {
	font-family: 'Roboto Slab', serif;
}

/* 9 Portfolio
----------------------------------------------------------------------------- */
/* image hover effect */
.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;
}
.item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}
.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.work-desc{
    width: 100%;
    padding: 10px 20px;
    background: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
    position: relative;
}
.work-desc h3{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 5px;
}
.work-desc span {
	margin-top: 10px;
}

.intermediate-container .subheading h4{
	color: #ffffff;
	font-style: italic;
	font-family: 'Roboto Slab', serif;
}
.intermediate-container .heading h2{
	font-size: 40px;
	line-height: 47px;
	text-transform: uppercase;
	margin-top: 30px;
	color: #ffffff;
	margin-bottom: 20px;
	font-weight: 700;
}

/* Portaria
----------------------------------------------------------------------------- */

#portaria .title{
	background:url(../img/site/bg-quemsomos.png) no-repeat bottom center;
	cursor: default;
	padding-bottom: 20px;
}
#portaria h5 {
	font-family: 'Roboto Slab', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	margin: 60px 0 30px;
}
#portaria img {
	display:block;
	margin: 10px auto 5px
}
#portaria .marginTop15 {
	margin-top: 15px
}

/* FAQ
----------------------------------------------------------------------------- */
#faq {
	background: url(../img/banner/2.jpg) no-repeat center;
	background-size:cover;
	color: #FEFEFE;
	font-size: 17px;
	font-weight: 600;
	cursor: default
}
#faq h2{
	display:block;
	cursor:default;
	color:#fefefe;
	font-size:30px;
	font-weight:400;
	margin:0 0 90px;
	background: url(../img/site/bg-comofunciona.png) no-repeat center;
}
#faq h4{
	font-size: 18px;
	font-weight: 400;
	margin: 0 130px 0;
}
#faq p{
	font-size: 14px;
	font-weight: 300;
	color: #fefefe;
	margin: 20px 130px 0;
}
#faq .owl-prev{
	width: 91px;
	height: 90px;
	background: url(../img/site/seta-esq.png) no-repeat center;
	display: block;
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -45px;
	left: 0;
}
#faq .owl-next{
	width: 91px;
	height: 90px;
	background: url(../img/site/seta-dir.png) no-repeat center;
	display: block;
	position: absolute;
	z-index: 2;
	top: 50%;
	margin-top: -45px;
	right: 0;
}

/* 14 Partners
----------------------------------------------------------------------------- */
.partners {
	margin: 0 15px 30px 15px;
	overflow: hidden;
}
.partner {
	padding: 15px;
	text-align: center;
	-webkit-box-shadow: -1px -1px 0px 0px #ebeef0;
	-moz-box-shadow: -1px -1px 0px 0px #ebeef0;
	box-shadow: -1px -1px 0px 0px #ebeef0;
}
.partner > img {
	max-width: 100%;
	max-height: 100%;
}

/* Footer
----------------------------------------------------------------------------- */
.footer {
	background:url(../img/banner/3.jpg) no-repeat center;
	background-size:cover;
	padding:30px 0;
	width:100%;
	float:left;
	clear:both
}
.footer p {
	color:#fefefe;
	margin:0;
	cursor:default;
	margin-top:3px
}
.footer .logo {
	float:right
}
.footer .redes {
	display:block;
	margin:10px 0
}

/* Copy
----------------------------------------------------------------------------- */
.copy {
	padding: 30px 0;
	width: 100%;
	height: auto;
	float: left;
	clear: both;
}
.copy p {
	margin-bottom: 0px;
	font-size: 12px;
	cursor: default;
	width: 50%;
	float: left;
}
.copy p:first-child +p{
	text-align: right;
}


/* 17 Back-to-top
----------------------------------------------------------------------------- */
.back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    text-align: center;
    z-index: 10000;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.back-to-top i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
}

/* Personalização
----------------------------------------------------------------------------- */
.cinza {
	color: #58595b;
	font-weight: 300;
	margin-bottom: 0;
}
.bullets {
	text-align: right;
	margin: 15px 0 0;
}
.bullets li {
	display: inline-block;
	list-style: none;	
}
.bullets li a {
	float: left
}
.bullets li a.link {
	color:#fff;
	font-size: 13px;
	background: #48887B;
	padding: 2px 5px;
	border-radius: 3px
}

/* 18 Responsive
----------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	.navbar-toggle { margin-top: 30px; }
	.navbar-brand>img{max-width:80%}
	.intro-title,.intermediate-container .heading h2{ font-size: 30px; }
	.bg-slider-wrapper .flexslider .slide { height: 500px; }
	.features-box .col-sm-4{ text-align: center !important; }
	.advanced-about .col-sm-6:first-of-type,.skill{ margin-bottom: 30px; }
	.facts { margin-bottom: 50px; }
	#faq .owl-prev,#faq .owl-next{top:100%;margin-top:-10px}
	#nav{height:auto}
	#nav ul{float:none}
	#home{height:auto}
	#home h1{position:inherit;margin: 0;top: inherit;left: inherit;width: 100%;text-align: center;float: left;clear: both;font-size:20px}
	#home h2{position:inherit;margin:10px 0 0;top: inherit;right: inherit;width: 100%;text-align: center;float: left;clear: both;font-size:20px}
	#home p{margin:60px 0 0;font-size:20px;float:left;clear:both;width:100%}
	#home .video{width:90%;height:auto;margin:40px 5% 0;background:none;float:left;clear:both}
	#home .video iframe{width:100%;height:350px;margin:35px 0 0}
	#orcamento a{width:100%;font-size:16px;line-height:50px}
	#formorcamento label.radio{display:inline-block;width:40%}
	#formorcamento label.radio input{position:inherit}
	#formorcamento input[type=radio]{margin:0}
	#formorcamento input[type=submit]{margin:0;width:100%}
	#faq p{margin:0}
	#faq h4{margin:0 0 15px}
	.footer {text-align:center}
	.footer .logo{float:none;margin:50px auto 0;display:block}
	.copy p {text-align:center !important;width:100%;float:none !important}
}

@media only screen and (max-width: 460px) {
	.navbar-toggle { margin-top: 20px; }
	#home .video iframe{height:250px}
}

@media(min-width:768px){
	.navbar-brand>img{height:60px}
	.navbar-right{display:block;margin:auto}
	.navbar-right li{float:none;display:inline-block}
	.navbar-custom .navbar-nav>li>a {font-size:14px}
	.bullets{margin-top:10px}
	.bullets li a.link{font-size:10px}
	#home{height:500px}
	#home h1{font-size:18px;width:160px;left:-130px}
	#home h2{font-size:18px;width:160px;right:-130px}
	#home p{font-size:17px;margin-top:28px}
	#home .video{width:440px;height:260px;margin:0 auto}
	#home .video iframe{width:336px;height:208px;margin:14px 0 0 52px}
	.footer .logo{margin-top:18px}
}

@media(min-width:992px){
	.navbar-brand>img{height:auto}
	.navbar-right{float:right !important;clear:none;text-align:left;margin-top:25px}
	.navbar-right li{float:left}
	.navbar-custom .navbar-nav>li>a {font-size:15px}
	.bullets{margin-top:15px}
	.bullets li a.link{font-size:13px}
	#home{height:820px}
	#home h1{font-size:25px;width:200px;left:-150px}
	#home h2{font-size:25px;width:200px;right:-150px}
	#home p{font-size:27px;margin-top:70px}
	#home .video{width:600px;height:345px;margin:130px auto 0}
	#home .video iframe{width:449px;height:276px;margin:18px 0 0 76px}
	.footer p{font-size:12px}
	.footer .logo{margin-top:0}
}

@media(min-width:1200px){
	.navbar-custom .navbar-nav>li>a {font-size:20px}
	#home h1{font-size:30px;width:235px;left:-180px}
	#home h2{font-size:30px;width:235px;right:-180px}
	#home .video{width:730px;height:420px;margin:60px auto 0}
	#home .video iframe{width:545px;height:335px;margin:22px 0 0 93px}
	.footer p{font-size:14px}
}
