.btn-custom{
	background-color: #48887B;
    border-color: ##387A6D;
}
.btn-custom:hover,.btn-custom:focus{
    background-color: ##387A6D;
    border-color: #48887B;
}
.form-control:focus {
	border-color: #48887B;
}
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus,
.intro-title span,.testi-slide p,#ajaxsuccess,#contact i,#contact h4{
	color: #B49964 !important;
}
.item-img-overlay span{
    background: url(../img/plus.png) no-repeat center center rgba(252, 196, 77,.7);
}
.work-desc{
    border-bottom: 2px solid rgba(252, 196, 77,.7);
}
.back-to-top {
    background: #B19251
}